package ${packageName}.dao;

import ${packageName}.dto.entity.${entityName};
import org.apache.ibatis.annotations.*;
import java.util.List;
import ${packageName}.dto.${entityName}ListReqDTO;

/**
 * @auth guozhenhua
 * @date ${ctime}
 */
public interface ${entityName}Mapper {

    String sql=" #foreach($columnEntity in $columnEntityList)`${columnEntity.tableColumnName}`#if($foreach.count<$columnEntityList.size()),#end#end ";

    @Select("select "+sql+" from ${database}.${tableName} where id=#{id} and `del`=0 ")
    ${entityName} getById(@Param("id") long id);

    @Update("update ${database}.${tableName} set `del`=1 where id=#{id} and `del`=0 ")
    boolean del${entityName}(@Param("id") long id);

    @UpdateProvider(type = ${entityName}Provider.class, method = "create${entityName}")
    void create${entityName}(${entityName} ${firstLowerEntityName});

    @UpdateProvider(type = ${entityName}Provider.class, method = "update${entityName}")
    boolean update${entityName}(${entityName} ${firstLowerEntityName});

    @SelectProvider(type = ${entityName}Provider.class, method = "list${entityName}ByPage")
    List<${entityName}> list${entityName}ByPage(${entityName}ListReqDTO ${firstLowerEntityName}ListReqDTO);

    @SelectProvider(type = ${entityName}Provider.class, method = "list${entityName}Count")
    Integer list${entityName}Count(${entityName}ListReqDTO ${firstLowerEntityName}ListReqDTO);

}
