html,body, #root{
  margin: 0;
  height:100%;
}

.contain {
  background:url(../images/background.jpg) center center/100% repeat;
  height:100%;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position:right bottom;
  background-size:cover;
  text-align: center;
}

.title{
  position:absolute;
  width: 100%;
  font-size: 50px;
  margin-top: 100px;
  color: aliceblue;
}

.login{
  position:absolute;
  width: 100%;
  margin-top: 200px;
}
.user_name{
  background: url(../images/mail.png) no-repeat 13px 11px;
}
.password{
  background: url(../images/password.png) no-repeat 13px 11px;
}
.pass_div{
  margin-top: 10px;
}
.text{
  width: 300px;
  background-size:25px;
  color:#FFF;
  border-radius:5px;
  padding: 15px 10px 15px 50px;
  border:2px solid #FFF;
  font-size:14px;
  background-color: transparent;

}
.verify_div{
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
.verify_div_1{
  margin:0 auto;
  width:300px;
  height:50px;
}
.verify-input{
  background: url(../images/password.png) no-repeat 13px 11px;
  width: 180px;
  background-size:25px;
  color:#FFF;
  border-radius:5px;
  padding: 15px 10px 15px 50px;
  border:2px solid #FFF;
  font-size:14px;
  float: left;
}

 .verify{
  width: 110px;
  height: 50px;
  float: right;
  background-color: #FFF;
  border-radius:5px;
  margin-top: 2px;
} 
.clear{
  clear: both;
}
.error{
  text-align: center;
  color: red;
}
.login_div{
  margin-top: 20px;
}

.login_btn{
  font-size:20px;
  width: 300px;
  color:#FFF;
  border-radius:5px;
  padding: 10px 5px 10px 5px;
  background-color: #173148;
  letter-spacing:10px;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color:    #FFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #FFF;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #FFF;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #FFF;
}
