generator.properties
.idea/
build/
.gradle/
node_modules/
.project
.settings
.classpath
.metadata
.vscode
.class
.war
out/
prod.properties
dist/
bin/
.DS_Store
.log/
.logs/
.scannerwork/
velocity.log
.sass-cache/
config.dev.json
config.prod.json
package-lock.json
