{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    "@babel/plugin-transform-object-assign",
    "@babel/plugin-transform-runtime",
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@api":"./api",
          "@server": "./lib",
          "@website":"./pages/website",
          "@css":"./public/static/styles",
          "@axios":"./axios",
          "@components":"./components",
          "@config":"./config",
          "@images":"./public/static/images"
        }
      }
    ],
    [ "styled-components", { "ssr": true, "displayName": true, "preprocess": false }]
  ]
}