package ${packageName}.constants.${lowerEntityName};

import lombok.Getter;

/**
 * @auth guozhenhua
 * @date ${ctime}
 */
@Getter
public enum ${entityName}ErrorEnum {

    SAVE_ERROR("save_error","保存失败"),
    GET_ERROR("get_error","获取失败"),
    DELETE_ERROR("delete_error","删除失败"),
    UPDATE_ERROR("update_error","更新失败");

    private String code;
    private String msg;

    ${entityName}ErrorEnum(String code, String msg) {
        this.code = code;
        this.msg = msg;
    }
}
