package ${packageName}.service;

import ${packageName}.dto.${entityName}ListReqDTO;
import ${packageName}.dto.entity.${entityName};
import ${packageName}.dao.${entityName}Mapper;
import com.common.domain.response.PageBean;
import com.common.util.IDGenerate;
import com.common.util.PageUtil;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;
import java.time.LocalDateTime;

/**
 * @auth guozhenhua
 * @date ${ctime}
 */
@Component
public class ${entityName}Service {

    @Autowired
    ${entityName}Mapper ${firstLowerEntityName}Mapper;

    public void create${entityName}(${entityName} ${firstLowerEntityName}) {
        ${firstLowerEntityName}.setId(IDGenerate.generateId());
        ${firstLowerEntityName}.setCreate_time(LocalDateTime.now());
        ${firstLowerEntityName}Mapper.create${entityName}(${firstLowerEntityName});
    }

     public ${entityName} getById(long id) {
         return ${firstLowerEntityName}Mapper.getById(id);
     }

    public boolean update${entityName}(${entityName} ${firstLowerEntityName}) {
        return ${firstLowerEntityName}Mapper.update${entityName}(${firstLowerEntityName});

    }

    public boolean del${entityName}(long id) {
        return ${firstLowerEntityName}Mapper.del${entityName}(id);
    }

    public PageBean<${entityName}> list${entityName}ByPage(${entityName}ListReqDTO ${firstLowerEntityName}ListReqDTO) {
        PageBean<${entityName}> pageBean = PageUtil.validatePage(${firstLowerEntityName}ListReqDTO.getPage_num(),
                ${firstLowerEntityName}ListReqDTO.getPage_size(),${firstLowerEntityName}ListReqDTO.getOffset());
        pageBean.setList(${firstLowerEntityName}Mapper.list${entityName}ByPage(${firstLowerEntityName}ListReqDTO));
        pageBean.setTotal(${firstLowerEntityName}Mapper.list${entityName}Count(${firstLowerEntityName}ListReqDTO));
        return pageBean;
    }
}
