package ${packageName}.service;

import ${packageName}.dto.${entityName}ListReqDTO;
import ${packageName}.dto.${entityName}ReqDTO;
import ${packageName}.dto.entity.${entityName};
import com.common.domain.response.PageBean;

/**
 * @auth guozhenhua
 * @date ${time}
 */
public interface ${entityName}Interface {

    /**
     * 创建
     * @param ${firstLowerEntityName}ReqDTO
     * @return
     */
    void create${entityName}(${entityName}ReqDTO ${firstLowerEntityName}ReqDTO);

    /**
    * 获取
    * @param id
    * @return
    */
    ${entityName} getById(long id);

    /**
     * 更新
     * @param ${firstLowerEntityName}ReqDTO
     * @return
     */
    boolean update${entityName}(${entityName}ReqDTO ${firstLowerEntityName}ReqDTO);


    /**
     * 删除
     * @param id
     * @return
     */
     boolean del${entityName}(long id);


    /**
     * 列表
     * @param ${firstLowerEntityName}ListReqDTO
     * @return
     */
    PageBean<${entityName}> list${entityName}ByPage(${entityName}ListReqDTO ${firstLowerEntityName}ListReqDTO);
}