
group '${module}-web'
version '1.0.0-SNAPSHOT'

dependencies {
    compile project(':common')
    compile project(':${module}:${module}-api')
}


bootJar {
    baseName = '${module}-web'
    version = "$projectVersion"
    exclude 'application-dev.yml'
    manifest {
        attributes 'Start-Class': 'com.web.WebApplication'
    }
}

defaultTasks 'clean', 'bootJar'


