package com.admin.controller.${package};

import com.admin.controller.common.AdminBaseController;
import ${packageName}.dto.entity.${entityName};
import ${packageName}.service.${entityName}Service;
import com.common.util.BeanCopyUtil;
import org.springframework.beans.factory.annotation.Autowired;
import com.admin.controller.${package}.vo.${entityName}.${entityName}ReqVO;
import com.admin.controller.${package}.vo.${entityName}.${entityName}ListReqVO;
import com.admin.controller.${package}.vo.${entityName}.${entityName}RespVO;
import ${packageName}.dto.${entityName}ListReqDTO;
import ${packageName}.dto.${entityName}ReqDTO;
import org.springframework.http.MediaType;
import org.springframework.validation.BindingResult;
import org.springframework.web.bind.annotation.*;
import javax.validation.Valid;
import com.common.domain.response.PageBean;

/**
 * @auth guozhenhua
 * @date ${ctime}
 */
@RestController
@RequestMapping(value = "/admin/${firstLowerEntityName}",method = RequestMethod.POST,produces =  MediaType.APPLICATION_JSON_VALUE)
public class ${entityName}Controller extends AdminBaseController{

    @Autowired
    ${entityName}Service ${firstLowerEntityName}Service;

    /**
     * 创建
     */
    @RequestMapping(value = "/create")
    public void create${entityName}(@RequestBody @Valid ${entityName}ReqVO ${firstLowerEntityName}ReqVO, BindingResult result){
        ${entityName} ${firstLowerEntityName} = BeanCopyUtil.copy(${firstLowerEntityName}ReqVO, ${entityName}.class);
        ${firstLowerEntityName}Service.create${entityName}(${firstLowerEntityName});
    }

    /**
     * 更新
     */
    @RequestMapping(value = "/update")
    public void update${entityName}(@RequestBody @Valid ${entityName}ReqVO ${firstLowerEntityName}ReqVO, BindingResult result){
        ${entityName} ${firstLowerEntityName} = BeanCopyUtil.copy(${firstLowerEntityName}ReqVO, ${entityName}ReqDTO.class);
         ${firstLowerEntityName}Service.update${entityName}(${firstLowerEntityName});
    }

    /**
     * 获取
     */
    @RequestMapping(value = "/get")
    public ${entityName}RespVO getById(@PathVariable("id") long id){
        return resultReturn(${firstLowerEntityName}Service.getById(id),${entityName}RespVO.class);
    }

    /**
     * 删除
     */
    @RequestMapping(value = "/del")
    public void del${entityName}(@PathVariable("id") long id){
        ${firstLowerEntityName}Service.del${entityName}(id);
    }

    /**
     * 列表
     */
    @RequestMapping(value = "/list")
    public PageBean<${entityName}RespVO> list${entityName}ByPage(@RequestBody @Valid ${entityName}ListReqVO ${firstLowerEntityName}ListReq, BindingResult result){
        ${entityName}ListReqDTO ${firstLowerEntityName}ListReqDTO = BeanCopyUtil.copy(${firstLowerEntityName}ListReq, ${entityName}ListReqDTO.class);
        PageBean<${entityName}> pageBean= ${firstLowerEntityName}Service.list${entityName}ByPage(${firstLowerEntityName}ListReqDTO);
        return pageResultReturn(pageBean,${entityName}RespVO.class);
    }

}
