/*尾部样式*/
.navigate_foot{
	width: 100%;
	/* margin: 0 auto; */
	text-align: center;
	/* bottom: 0px; */
	background-color: black;
	/* position: fixed; */
	/* position: relative; */
	height: 200px;
}
/* .footer ul{
	padding-top:20px
}
.footer ul li{
	list-style: none;
	text-decoration: none; 
	text-align: center;
	font-size: 13px;
	line-height: 15px;
	display: inline;
	margin-left: 50px;
}
.footer a{
	color: black;
}
.footer p{
	text-align: center;
	font-size: 13px;
	margin-top: 10px;
	padding-bottom: 20px;
} */